@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 80px;
  position: fixed;
}

.logo {
  width: 400px;
}
.logoText p {
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  color: #0b0b0b;
  font-weight: 700;
  z-index: 2;
  pointer-events: none; /* text nebude blokovat hover obrázku */
}

.logoText {
  background-color: #760101;
  width: 700px;
  margin: auto;
  border-radius: 40px;
  border: solid 5px black;
  margin-bottom: 40px;
}

.logo.animate {
  animation: swing 2.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  transform-origin: top center;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(3deg);
  }
  40% {
    transform: rotate(-3deg);
  }
  60% {
    transform: rotate(2deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  flex-grow: 1;
}

nav a {
  color: white;
  background-color: #232323;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  border-left: solid rgb(48, 48, 48) 1.5px;
  border-right: solid rgb(48, 48, 48) 1.5px;
}

nav a:hover {
  background-color: rgb(97, 1, 1);
}

section a {
  background-color: #760303;
  color: white;
  padding: 10px 86px;
  display: flex;
  justify-content: center;
  border-left: solid rgb(0, 0, 0) 1.5px;
  border-right: solid rgb(48, 48, 48) 1.5px;
}

section a:hover {
  background-color: rgb(66, 10, 10);
}

main input {
  width: 900px;
  height: 40px;
  border-radius: 10px;
  border: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.searchButton {
  background-color: #6b0000;
  position: relative;
  top: 2px;
}

button {
  padding-top: 11px;
}

button:hover {
  background-color: rgb(83, 12, 12);
  border: rgb(83, 12, 12);
}

.recipeContainer {
  background-color: rgb(19, 19, 19);
  display: flex;
  justify-content: center;
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}

.recipeCard {
  width: 22%;
  margin: 10px;
  background-color: rgb(35, 35, 35);
  border-radius: 8px;
  padding: 10px;
  text-align: center;
}

.recipeCard img {
  width: 100%;
  border-radius: 8px;
}

.variants {
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
}

.Beginner {
  color: green;
  font-weight: bold;
}

.Intermediate {
  color: orange;
  font-weight: bold;
}

.Hard {
  color: rgb(145, 41, 41);
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

.sendToList {
  margin-top: 5px;
}

.displayIngredience li {
  list-style-position: inside;
}

.displayIngredience li button {
  background-color: rgb(90, 90, 90);
}

.displayIngredience li button:hover {
  background-color: rgb(52, 51, 51);
}

.getStarted {
  background-color: #730606;
  font-size: 30px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
}

#startparent {
  background-color: #2f2f2f;
  height: 90px;
  margin: 0 auto;
  border: solid 8px #1d1c1c;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.selectedRecipeContainer h2 {
  background-color: #0c0c0c;
  width: 70%;
  text-align: center;
  padding: 15px 0px;
  margin-bottom: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 5px;
}

.selectedRecipeContainer img {
  width: 70%;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.selectedRecipeContainer {
  width: 1500px;
}

#forNow {
  background-color: #2d2d2d;
  margin-left: auto;
  margin-right: auto;
  border: solid 8px #1d1c1c;
  border-bottom: 0px;
  margin-top: 20px;
  display: flex;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.nameAndPicture {
  text-align: left;
  margin-left: 60px;
  margin-bottom: 20px;
  flex: 1;
}

.displayIngredience {
  text-align: left;
  margin-top: 10px;
  flex: 1.5;
}

.displayIngredience li {
  display: flex;
  align-items: center;
}

.displayIngredience li input {
  width: 20px;
  margin-right: 10px;
}

.displayIngredience li button {
  margin-left: auto;
  margin-right: 10px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.main {
  background-image: url("https://i.imgur.com/yUtWIFO.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 100px;
  min-height: 100vh;
}
