.MyCategory {
  margin-bottom: 5px;
}

.My {
  display: flex;
  margin-left: 40px;
  flex-direction: column;
  align-items: baseline;
}

.recipeContainer2 {
  background-color: rgb(19, 19, 19);
  display: flex;
  justify-content: center;
  margin-left: 0px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.recipeCard2 {
  margin: 10px;
  background-color: rgb(30, 27, 27);
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  display: flex;
}

.recipeCard2 img {
  width: 15vw;
  border-radius: 8px;
}

.texto {
  margin-left: 40px;
  margin-right: 30px;
}

.MyRecipeNewRecipe {
  display: flex;
  border-bottom: 5px rgb(131, 26, 26) solid;
  padding: bottom 0px;
  justify-content: space-between;
  align-items: center;
}

.newRecipe {
  width: 150px;
  padding: 0px;
  height: 50px;
  background-color: rgb(79, 77, 77);
  margin-top: 20px;
}

.myProfile {
  padding-top: 55px;
  background: radial-gradient(circle at top, #301e21 0, #090505 55%);
  min-height: 100vh;
}

.deleteButton {
  max-height: 40px;
  max-width: 40px;
  position: relative;
  top: -10px;
  right: -10px;
  text-align: center;
}

.deleteButton:hover {
  cursor: pointer;
  opacity: 0.5;
}

.logout {
  background: rgb(114, 3, 3);
  box-shadow: 0 0.1px 20px rgba(230, 67, 67, 0.35);
  width: 250px;
}

.deleteContainer {
  display: flex;
}

.deleteAccount {
  margin-left: auto; /* odtlačí doprava */
  width: 250px;
  border-top-right-radius: 0px;
  background: transparent;
  color: rgb(255, 2, 2);
  text-decoration: underline;
}

.deleteAccount:hover {
  margin-left: auto; /* odtlačí doprava */
  width: 250px;
  border-top-right-radius: 0px;
  background: transparent;
  color: rgb(120, 5, 5);
  text-decoration: underline;
  border: 0;
}
