.new {
  padding-top: 100px;
  background: radial-gradient(circle at top, #221618 0, #090505 55%);
  min-height: 100vh;
  height: auto; /* nenechávej pevné 100vh */
  min-height: 100%;
  overflow-y: auto;
}

.new h4 {
  margin: 15px;
}
.mainInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
  background: radial-gradient(circle at top, #141414 0, #090505 55%);
  border: 1px solid #1b1b1b;
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.6);
  position: relative;
}

.mainInfo label p {
  margin-left: 15px;
}

.mainInfo input {
  width: 60%;
  border: 2px rgb(29, 29, 29) solid;
  background-color: transparent;
  padding-left: 10px;
}

.mainInfo select {
  width: 62.5%;
  background-color: transparent;
  border: 2px rgb(29, 29, 29) solid;
  padding-left: 10px;
}

.mainInfo option {
  background-color: #181818;
}

.inputAdd {
  width: 600px;
  display: flex;
  justify-content: space-between;
  text-align: left;
}

/*Pokus*/
.imagePreview {
  width: 300px;
  height: 300px;
  border: 5px solid #00000056;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.imagePreview:hover {
  cursor: pointer;
  border: 5px solid rgb(114, 3, 3);
  font-weight: 600;

  box-shadow: 0 0.1px 20px rgba(230, 67, 67, 0.35);
}

.imagePreview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.stepsAndIngrents {
  display: flex;
  justify-content: space-between;
}

.stepsAndIngrents ol {
  padding-inline-start: 0px;
}

.stepsAndIngrents li {
  text-align: left;
  background: radial-gradient(circle at top, #1d1d1d 0, #141414 55%);
  border: 1px solid #1b1b1b;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  width: 96%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.stepsAndIngrents input {
  background-color: rgb(9, 9, 9);
  height: 40px;
  border: solid 2px #2b2a2a;
  border: solid 2px #2b2a2a;
  padding-left: 10px;
}

.Ingredients {
  width: 40%;
  background: radial-gradient(circle at top, #111111 0, #090505 55%);
  border-radius: 24px;
  padding: 20px;
  border: 1px solid #1b1b1b;
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.6);
}

.Steps {
  width: 55%;
  background: radial-gradient(circle at top, #111111 0, #090505 55%);
  border: 1px solid #1b1b1b;
  border-radius: 24px;

  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.6);
}

.photoAndButton {
  display: flex;
  justify-content: space-between;
}

.X {
  position: absolute;
  top: 0px; /* vzdálenost od horní hrany */
  right: 0px; /* vzdálenost od pravé hrany */
  background-color: #490202;
  border-radius: 0px;
}

.public {
  position: absolute;
  top: 0px; /* vzdálenost od horní hrany */
  right: 3px; /* vzdálenost od pravé hrany */
  width: 20%;
  height: 15%;
}

.public select {
  width: 100%;
  height: 100%;
}

.AddIngredient {
  background: rgb(114, 3, 3);
  box-shadow: 0 0.1px 20px rgba(230, 67, 67, 0.35);
}

.addRecipe {
  margin-top: 30px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background: radial-gradient(circle at top, #201d1d 0, #0b0b0b 55%);
  border: 1px solid #1b1b1b;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  padding: 0.5%;
}

.addRecipe:hover {
  filter: brightness(0.8); /* 1 = původní, <1 = tmavší */
  transition: filter 0.3s ease; /* plynulý efekt */
  cursor: pointer;
}

.addStep button {
  background: rgb(114, 3, 3);
  box-shadow: 0 0.1px 20px rgba(230, 67, 67, 0.35);
}
