.Recipe img {
  width: 100%;
}

.Recipe {
  margin: 0;
  padding-top: 17vh;
  padding-left: 50px;
  padding-right: 50px;
  background: radial-gradient(circle at top, #301e21 0, #090505 55%);
}

.imgContainer {
  background: radial-gradient(0, #131111 55%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px rgb(41, 39, 39) solid;
  overflow: hidden;
  width: 50vh;
  border-right: 0px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.step {
  background: radial-gradient(0, #131111 55%);
  border-top-right-radius: 10px;
  margin: 0;
  padding: 2vh 2vh;
  text-align: center;
  height: 5vh;
  border: 1px rgb(41, 39, 39) solid;
  border-bottom: 0px;
}

.instruction {
  background: radial-gradient(0, #131111 55%);
  border: 1px rgb(41, 39, 39) solid;
  margin: 0;
  overflow-y: auto;
  border-bottom: 0px;
  height: 100%;
  padding-top: 50px;
}

.buttonContainer {
  background: radial-gradient(0, #131111 55%);

  padding: 2vh 2vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  border-bottom-right-radius: 10px;
  border: 1px rgb(41, 39, 39) solid;
}

.buttonContainer2 {
  background: radial-gradient(0, #131111 55%);

  padding: 2vh 2vh;
  border: 1px rgb(41, 39, 39) solid;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.buttonContainer2.lastStep {
  justify-content: center;
}

.imgAndTextRecipe {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 70vh;
}

.buttonAndStep {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.backPrevious {
  display: flex;
  justify-content: space-between;
}

.stepButton {
  background-color: #830000;
  border: 0px;
}

.stepButton:active {
  border: 0px;
}

.replace {
  font-size: 15vh;
}
